include *.txt
include *.md
include *.pkl
include *.joblib
recursive-include ./model/*

include model/datasets/coffee_ml_features.csv
include model/datasets/index_1.csv
include model/trained/*.pkl
include model/trained/*.joblib
include model/VERSION
include model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]